.pysarInput{

    height: 50px;
    width: 100%;
    display: block;
    padding: 5px 12px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';

    &:not(:last-child){
        margin-bottom: 25px;
    }

}